@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.character-layout__wrapper {
  padding: $spacing-2xl 0;
  background: $color-gray-100;
}

.dark-theme .character-layout__wrapper {
  background: var(--color-background);
}

.character-layout {
  display: grid;
  gap: $spacing-2xl;
  grid-template-columns: 1fr;
  grid-template-areas:
    'filters'
    'results';

  &__filters {
    grid-area: filters;
  }

  &__results {
    grid-area: results;
  }

  @include respond-to(md) {
    grid-template-columns: minmax(280px, 340px) 1fr;
    grid-template-areas: 'filters results';
  }
}
