@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.character-list {
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-lg;

    @include respond-to(sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to(lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include respond-to(xl) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__loading,
  &__error,
  &__empty {
    padding: $spacing-2xl;
    text-align: center;
    color: var(--color-text-secondary);
  }

  &__error {
    color: #{$color-portal-green};
  }
}
