@use './variables.scss' as *;
@use './mixins.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $font-size-base;

  @include respond-to(lg) {
    font-size: $font-size-lg;
  }
}

body {
  font-family: $font-family-base;
  color: var(--color-text-primary);
  background-color: var(--color-background);
  min-height: 100vh;
  transition:
    background-color $transition-base,
    color $transition-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
